#define IDD_DIALOG                      1000
#define	IDC_NAME						1001
#define	IDC_SERIAL						1002
#define IDC_LIST						1003



IDD_DIALOG DIALOGEX DISCARDABLE  0, 0, 420, 92
STYLE DS_CENTER | WS_POPUP | DS_MODALFRAME | WS_CAPTION
CAPTION "Win32 Process Viewer/Dumper"
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "EXIT",IDOK,360,8,50,14,0,WS_EX_STATICEDGE
    CONTROL         "List",IDC_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_EDITLABELS |
            		LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,8,344,75
    ;PUSHBUTTON      "OPTIONS",IDCANCEL,360,27,50,14,0,WS_EX_STATICEDGE
END

IDI_ICON	ICON	DISCARDABLE	"ICON.ICO"
